// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #0067b1;
  --ion-color-primary-rgb: 0, 103, 177;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005ea0;
  --ion-color-primary-tint: #1a7cc1;
  --ion-color-secondary: #FFA500;
}
