<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Jugador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <div *ngIf="!jugadorSeleccionado">
    <h2 class="titulo">Plantilla</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let jugador of jugadorLista">
          <ion-card button (click)="jugadorId(jugador.id)" color="primary">
            <ion-card-content class="jugador-card">
              <img [src]="jugador.imagen" class="jugador-img" alt="Foto jugador">
              <p class="entrenador" *ngIf="jugador.posicion === 'Entrenador'">
                <strong> {{ jugador.posicion }} </strong>
              </p>
              <div class="jugador-info">
                <p><strong>Nombre:</strong> {{ jugador.nombre }}</p>
                <p><strong>Apellidos:</strong> {{ jugador.apellidos }}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button color="secondary" expand="block" (click)="volverAtras()">Volver</ion-button>
  </div>

  <div *ngIf="jugadorSeleccionado" class="jugador-detalle">
    <h2>{{ jugadorSeleccionado.nombre }} {{ jugadorSeleccionado.apellidos }}</h2>
    <img [src]="jugadorSeleccionado.imagen" class="jugador-detalle-img" alt="Foto jugador">
    <p><strong>Edad:</strong> {{ jugadorSeleccionado.edad }}</p>
    <p><strong>Posición:</strong> {{ jugadorSeleccionado.posicion }}</p>
    <p *ngIf="jugadorSeleccionado.numero !== null">
      <strong>Número:</strong> {{ jugadorSeleccionado.numero }}
    </p>

    <div class="centrar">
    <ion-button *ngIf="!yaSigue" fill="solid" color="primary" (click)="seguirJugador()" class="boton-seguir" aria-label="Seguir jugador">
  <ion-icon name="person-add-outline"></ion-icon>
</ion-button>
</div>

    <ion-button color="secondary" expand="block" (click)="volverALista() ">Volver a la lista</ion-button>
  </div>
</ion-content>