<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="equipo" href="/tabs/equipo">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Equipo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="temporada" href="/tabs/temporada">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Temporadas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jornadas" href="/tabs/jornadas">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Jornadas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jugador" href="/tabs/jugador">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Jugadores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
