<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Temporada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h2 class="titulo">Temporadas</h2>

    <ion-card *ngFor="let temporada of temporadaLista" routerLink="/tabs/jornadas" color="primary">
      <ion-card-content>
        <h3><strong>Año:</strong> {{ temporada.anio }}</h3>
        <p><strong>Categoría:</strong> {{ temporada.categoria }}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
