<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Equipo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="partidoSeleccionado" class="ion-padding">

    <ion-card color="primary">
      <ion-card-content>
        <ion-grid class="ion-text-center">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <a [routerLink]="['/tabs/equipo', partidoSeleccionado.equip_local.id]">
                <img [src]="partidoSeleccionado.equip_local.escudo" alt="Local" class="team-logo" />
                <div><strong style="color: #FFA500;">{{ partidoSeleccionado.equip_local.nombre }}</strong></div>
              </a>
            </ion-col>
            <ion-col size="4">
              <h2>{{ partidoSeleccionado.puntosLocal }} <strong>VS</strong> {{ partidoSeleccionado.puntosVisitante }}
              </h2>
              <p><strong>Jornada:</strong> {{ partidoSeleccionado.jornada.id }}</p>
            </ion-col>
            <ion-col size="4">
              <a [routerLink]="['/tabs/equipo', partidoSeleccionado.equip_visit.id]">
                <img [src]="partidoSeleccionado.equip_visit.escudo" alt="Visitante" class="team-logo" />
                <div><strong style="color: #FFA500;">{{ partidoSeleccionado.equip_visit.nombre }}</strong></div>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card color="primary">

        <ion-item color="primary">
          <p><strong>Fecha:</strong> {{ partidoSeleccionado.fecha | date: 'dd \'de\' MMMM \'de\' yyyy' }}</p>
        </ion-item>
        <ion-item color="primary">
          <p *ngIf="partidoSeleccionado.hora">
            <strong>Hora:</strong>
            {{
            formatHora(partidoSeleccionado.hora)
            }}
          </p>

        </ion-item>

    </ion-card>

    <ion-button expand="block" color="secondary" (click)="volverALista()">Volver</ion-button>
  </ion-content>
</ion-content>