<ion-content [fullscreen]="true" class="ion-padding">

  <!-- 🏀 Banner ancho -->
  <div class="banner-container">
    <ion-img src="https://i.ibb.co/1fkN3MMg/Imagen-de-Whats-App-2025-05-26-a-las-18-09-39-fe7e551d.jpg"
      alt="Banner CB Los Alcores"></ion-img>
  </div>

  <!-- 📝 Descripción de la página -->
  <div class="page-description">
    <h2>Bienvenidos a la app oficial de CB Los Alcores 2013</h2>
    <p>
      En CB Los Alcores creemos en el baloncesto como una herramienta para formar personas y
      fortalecer valores como el esfuerzo, el compromiso y el trabajo en equipo.
      En esta app podrás seguirnos en cada paso de la temporada, como revisando
      el <a routerLink="../../tabs/partidos">calendario de partidos</a>, conociendo a fondo la
      <a routerLink="../../tabs/jugador">plantilla oficial</a>,
      y consultando nuestras <a routerLink="/estadisticas">estadísticas</a> actualizadas.
    </p>
    <p>
      Además, apostamos firmemente por el desarrollo de la cantera, y por ello también damos visibilidad a nuestras
      categorías inferiores, donde se forman los futuros protagonistas del club.
    </p>
    <p>¡Únete a la comunidad del CB Los Alcores y acompáñanos en cada canasta!</p>
  </div>

</ion-content>