.titulo {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #0067b1;
  margin: 20px 0;
}

ion-card {
  transition: transform 0.2s ease;
  cursor: pointer;
}

ion-card:hover {
  transform: scale(1.02);
}

ion-card-content p strong {
  margin: 6px 0;
  font-size: 1.1rem;
  color: #FFA500;
}
