ion-item {
  --background: white;
  border-radius: 12px;
  border: 1.5px solid #ccc;
  margin-bottom: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

ion-label {
  color: black !important;
  font-weight: 600 !important;

}

ion-label .label-text {
  font-size: 0.2rem !important;
}



ion-input {
  color: black;
  background: #f9f9f9;
  border-radius: 8px;
  margin-top: 25px;
  padding: 8px 12px;
  border: 1.2px solid #bbb;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
