<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Equipo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Equipo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="equipoSeleccionado">
    <p><img src="{{ equipoSeleccionado.escudo }}" alt=""></p>
    <p><strong>Nombre:</strong> {{ equipoSeleccionado.nombre }}</p>
    <p><strong>Categoria:</strong> {{ equipoSeleccionado.categoria }}</p>
    <p><strong>Nombre del Campo:</strong> {{ equipoSeleccionado.nombre_campo }}</p>
    <p><strong>Ubicación del Campo:</strong> {{ equipoSeleccionado.ubiCampo }}</p>
    <p><strong>Color Equipación Local:</strong> {{ equipoSeleccionado.colorLocal }}</p>
    <p><strong>Color Equipación Visitante:</strong> {{ equipoSeleccionado.colorVisit }}</p>

    <ion-button *ngIf="equipoSeleccionado.id === 1" color="secondary" href="../../tabs/jugador">
      Ver Jugadores
    </ion-button>


  </ion-content>